@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");

body {
  --primarycolor: #ffad2e;
  --primarycolordark: #e9910e;
  --secondarycolor: #6868ac;
  --errorcolor: #d42222;
  --successcolor: #33c729;

  font-family: "Baloo Bhaijaan 2", Arial;
  display: flex;
  align-items: flex-start; /*before was center*/
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url(./../images/background1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 300px;
  max-width: 300px;
  margin: 3rem;
  padding: 2rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #ffffff;
  opacity: 95%;
}

.logoandtext {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  margin-right: 10px;
}

.title {
  display: flex;
  justify-content: center;
}

.texttoleft {
  justify-content: left;
  margin: 0.1rem;
}

.label-float {
  position: relative;
  padding-top: 3px;
  margin-top: 2%;
  margin-bottom: 2%;
}

input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
  margin-bottom: 0.7rem;
}

textarea {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
  margin-bottom: 0.7rem;
  resize: none;
  font-family: "Baloo Bhaijaan 2", Arial;
}

input:focus {
  border-color: var(--primarycolor);
  background: #ffffff;
}

button {
  width: 100%;
  height: 40px;
  padding: 1rem 1rem;
  font-weight: bold;
  font-size: 1.05rem;
  color: #080808;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: var(--primarycolor);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background: var(--primarycolordark);
}

button:active {
  transform: scale(0.98);
}

.errormsg {
  font-size: 12px;
  color: var(--errorcolor);
  margin: 0px;
}

.justify-center {
  justify-content: center;
  text-align: center;
}

a {
  color: var(--secondarycolor);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

a:hover {
  color: #1a1457;
}

.containerhidden {
  display: none;
}

#comments {
  height: 80px;
}
