@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");

body {
  --primarycolor: #ffad2e;
  --primarycolordark: #e9910e;
  --secondarycolor: #1c77bd;
  --secondarycolordark: #0d5a94;
  --errorcolor: #8a0303;
  --successcolor: #33c729;

  font-family: "Baloo Bhaijaan 2", Arial !important;
  color: #080808 !important;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url(./../images/background2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 500px;
  max-width: 500px;
  margin: 1rem;
  padding: 2rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #1c77bd;
  opacity: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.booking {
  width: 300px;
  max-width: 300px;
  margin: 0.3rem;
  padding: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: var(--primarycolordark);
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  border: 2px solid #868686;
}

.booking:hover {
  border: 2px solid #dddddd;
}

.paragbooking {
  font-size: 13px;
  margin: 0px;
}

.headerbooking {
  font-size: 18px;
  margin: 0px;
}

.headerrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem;
  margin-bottom: 0.2rem;
}

.rowdirection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logoandtext {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

#gergarage {
  font-weight: bold;
}

#logo {
  margin-right: 10px;
}

img {
  margin-right: 10px;
}

.title {
  display: flex;
  justify-content: center;
}

.label-float {
  position: relative;
  padding-top: 3px;
  margin-top: 2%;
  margin-bottom: 2%;
}

input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
  margin-bottom: 0.7rem;
}

input:focus {
  border-color: var(--primarycolor);
  background: #ffffff;
}

select {
  display: block;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  margin-bottom: 0.7rem;
}

button {
  width: 50%;
  height: 40px;
  padding: 1rem 1rem;
  font-weight: bold;
  font-size: 1.05rem;
  color: #080808;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: var(--primarycolor);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background: var(--primarycolordark);
}

button:active {
  transform: scale(0.98);
}

.justify-center {
  justify-content: center;
  text-align: center;
}

a {
  color: var(--primarycolordark);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

a:hover {
  color: #1a1457;
}

.errormsg {
  font-size: 12px;
  color: var(--errorcolor);
  margin: 0px;
}
